[2015-05-07 00:14] jchodera opened #9 "Residue names in OpenEye-generated PDB file are listed as "UNL""
For example, [DB8.tpl](https://github.com/choderalab/mcce-charges/blob/master/kinases/abl-bosutinib/DB8.pdb) has residue name `UNL` instead of `DB8`.

[2016-04-13 18:24] DivyaMatta15 opened #14 "regarding conformers"
I have another problem in understanding the output of dihistidine.  I got 9 microstates for dihistidine in MCCE(four neutral, four with +1 charge and one with +2 charge). I am not sure why is it 19 in epik output?

[2016-04-13 19:00] jchodera commented on #14
MCCE is only sampling protonation states of the sidechain, but Epik also includes some (very high energy, so essentially negligible) protonation states of the amide bond.

I *did* notice that the dihistidine example somehow is just a single histidine sidechain, though. Let me fix that.

We can set the energy window for Epik to be much narrower, but I'd like to avoid this kind of hand curation of w

[2016-04-13 19:15] mrgunner commented on #14
Thank you John for doing this.  It is giving us a sense of what problems can arise with Epic.  I am hoping we can get the right number of Epic states (conformers) for systems where we know the answer - of coerce if there are extra super high energy states that’s no essential problem
	If you want to shoot us a kinase inhibitor I think we can handle both that and the His control.
Marilyn

[2016-04-13 19:40] jchodera commented on #14
I've just merged a PR (#15) that fixes the HIS-HIS problem and restricts Epik to an energy penalty of 6 kT. This gives back exactly the protomeric states you would expect.

We are also no longer enumerating tautomers.

Can you update your repo and take a look?

[2016-04-13 20:38] jchodera commented on #14
@mrgunner : I've regenerated the kinase inhibitors and checked those updates in. You can find them in this repo under `epik_inhibitors/output/`.

[2016-04-14 21:14] DivyaMatta15 opened #17 "question regarding epik output files"
Just a quick question. I was trying to understand the output files, its bit challenging for me. How does the numbers tells the connectivity of atoms(how to know which atom connects to which atom) for example, in histidine what 1 1 2 1 means ? Also what does DICT means?

Thanks

[2016-04-14 21:26] jchodera commented on #17
Which file(s) specifically are you talking about?

[2016-04-14 21:31] jchodera commented on #17
The ACE-HIS-NME example is [here](https://github.com/choderalab/mcce-charges/tree/master/his-test-peptides/output/HIS).  You should be focusing on two different output files:
* The [mol2 file](https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS/HIS-epik.mol2) is a standard [Tripos mol2 format documented here](http://www.tripos.com/data/support/mol2.pdf) that contain

[2016-04-14 21:38] DivyaMatta15 commented on #17
I was looking at the histidine output mol2 file. The document is helpful. I am looking into it.

Thank you!

[2016-04-18 19:42] newbooks commented on #17
I am looking at ACE-HIS-HIS-NME.mol2. It contains one charge set so far. Do we have charges at other ionization states?

Also where is supposed be the chain ID column, if you anyone happens to know? I will read the documentation as well. So no worry on this.

[2016-04-18 19:46] newbooks commented on #17
It looks like mol2 ATOM records do not include chain ID. Correct me if I am wrong.

[2016-04-18 19:50] jchodera commented on #17
You are looking at the *input* files.  Go here to find the *output* files:

https://github.com/choderalab/mcce-charges/tree/master/his-test-peptides/output/HIS-HIS

You should focus on the output `mol2` file here:

https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik.mol2

MOL2 files do not contain chain IDs.

[2016-04-19 07:09] mrgunner commented on #17
For the diHis there should be 9 conformers. 4 with 0 charge, 4 with +1 and 1 with  +2 (Divya can enumerate). We are hoping to see epic can provide these so formers. If it won't I'd like to understand what it is doing.

Just add the chain designator (I think MCCE will do this automatically)

[2016-04-20 23:39] SalahBioPhysics commented on #17
Looking at the epik [output](https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik.mol2)  I can see 9 sections (perhaps that's the 9 conformers) starting with @<TRIPOS>ATOM.  However, as Dr. Gunner mentioned we need 4 conf with 0 charge, 4 conf with +1 and 1 conf with  +2 charge.  Where in the epik output we can find these different states?

Right now

[2016-04-20 23:43] jchodera commented on #17
Please look at the mol2 output files I prepared for you along with the state penalties txt file. The mol2 file has all of the protomers in a standard mol2 format, along with charges. The total charge on each molecule should add up to the integral charge of each protomer.

You should not need to look at the Epik output files. We have already extracted that information for you.

[2016-04-21 00:46] newbooks commented on #17
Is this file the output?
https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik.mol2

I browsed it and it seems to me the HIS2 and HIS3 in entry 2 and 5
essentially have identical atoms, coordinates and charges. They differ by
extra small atom H46 and H47, which have 0 charges (9th column) and they
don't make difference in continuum model.

Any opinion

[2016-04-21 01:43] jchodera commented on #17
You want the `-charged.mol2` suffix:
https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik-charged.mol2

[2016-04-21 01:49] SalahBioPhysics commented on #17
YES, thanks a lot, that was useful

[2016-04-21 01:50] jchodera commented on #17
No problem.  My fault for not creating a `README.md` indexing the files.  I'll be sure to make one!

[2016-04-21 17:14] newbooks commented on #17
The atom names in "charged" output do not match another mol2 file. Is it
safe to assume an one on one name mapping? Or I should match the names by
their coordinates to be correct?

Salah, "charged" mol2 file do not contain residue information. I guess you
will need to load both mol2 files to get things MCCE need.

Junjun

On Wed, Apr 20, 2016 at 9:50 PM, John Chodera <notifications@github.com>
wro

[2016-04-21 19:31] jchodera commented on #17
Which "another mol2 file" are you referring to?  Is this important?

The multiple protomers within the `-epik-charged.mol2` file all have the same heavy atom names, though their proton names may differ.  I didn't think this would be problematic.

I am under the impression that you just need to create a discrete protomer library for a single conformer.  When we create a TPL file for the small molec

[2016-04-21 19:31] jchodera commented on #17
If you can give us more insight into the problem you are having, we may be able to provide a bit more help here.  I just don't understand what the issue you're having is.

[2016-04-21 19:58] newbooks commented on #17
I am referring
https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik.mol2

and
https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/output/HIS-HIS/HIS-HIS-epik-charged.mol2

The names in mol2 is what we want, but as you said we should use the charge
in charged.mol2. We are mapping the names.

In mol2 file:
      1 HH31        2.210

[2016-04-22 01:47] jchodera commented on #17
Why are you mapping the names between the two? Why do you need both files?

We can fix the naming inconsistency if that is important, but I don't
understand why you are trying to use both files.

[2016-04-22 02:04] newbooks commented on #17
Yes, as you can see with HIS-HIS-epik-charged.mol2 file alone, we don't
have residue information and atoms seem to be named sequentially (I am
afraid this will cause trouble if an input file has atoms in a different
order).

We already have a script to fix it though. A script will extract charges
from charged.mol2 and place that in mol2 file.

Junjun

On Thu, Apr 21, 2016 at 9:47 PM, John Chodera

[2016-04-22 18:18] SalahBioPhysics commented on #17
At that note I want to mention that we don't have epik-charged.mol2 files for the epik_inhibitors [output](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output).

[2016-04-22 18:25] newbooks commented on #17
Let's work on standardizing the parameterization of HIS-HIS. Once a
procedure is laid out, getting more inhibitors should be easy.

I am away next week. Will keep looking after I am back on Friday.

Junjun

On Fri, Apr 22, 2016 at 2:18 PM, Salah Salah <notifications@github.com>
wrote:

[2016-04-22 18:30] andrrizzi commented on #17
Yeah, sorry that's my fault. I can easily create them after we have worked out the HIS-HIS case. Or sooner in case you need them ASAP.

[2016-04-22 18:40] SalahBioPhysics commented on #17
No, don't need them now, I'm just giving you heads up :)

[2016-04-22 20:14] newbooks commented on #17
Hi all,

We have a bit of methodology incompatibility issue here.

It looks to me epik calculates the charge for the whole molecule, in our
case, it's all 4 residues in ACE-HIS-HIS-NME. Therefore, an individual
residue doesn't necessarily have an integer charge. For example 6 atoms in
the first residue ACE gives
0.0661-0.1720+0.0661+0.0661+0.6798-0.5994 = 0.1067

MCCE on the other hand treats a re

[2016-04-22 21:53] jchodera commented on #17
JunJun, we decided long ago that for now, we will treat small molecules as
A SINGLE RESIDUE. We can explore ways to automatically partition molecules
into independent residues in the future, but this will be a major research
project.

All you need to do is modify the TPL generation script to convert the whole
molecule into a single residue with a static conformation and multiple
protomers. You wil

[2016-04-22 22:43] newbooks commented on #17
John, yes, as far as I know, we will do one as single molecule and another
as separate residues as control, using a well known system HIS-HIS.

An quick fix is normalize the atom charges residue by residue. That should
be close enough for now. Can other people weigh in?

Junjun

On Fri, Apr 22, 2016 at 5:53 PM, John Chodera <notifications@github.com>
wrote:

[2016-04-22 22:49] mrgunner commented on #17
Junjun
It's great to have you on board. As john says we will do the inhibitors as multiple conformers not breaking them up as we usually do (like we do with the heme to divide and conquer). The aim with the diHis is to make sure we get the right (I think 9) conformers with epic ((1w/crg 2) and 4 each with crg 1 and 0 ) and that the energies  of the states are close to what we would get with mcce (

[2016-04-22 23:31] jchodera commented on #17
I wouldn't do that. That is not what we plan to do for actual kinase
inhibitor molecules, so it would be useless as an exercise to test how well
your pipeline will work for kinase inhibitors.

[2016-04-23 01:21] newbooks commented on #17
It all makes sense if we don't do control. For a new cofactor, what we need
are
1) atom charges
2) solution pKas if the cofactor has protonation states

The epik output gives out 9 states and corresponding charge sets.
Presumably solution pKas can be derived from the state penalties.

I need to understand a bit more about how epik state penalties are
calculated. To be more specific, at what pH and

[2016-04-23 02:13] jchodera commented on #17
How does MCCE compute protomer acceptance probabilities at a given pH?

Suppose we have a single residue in solution.  If the acceptance criterion gives a probability

P_i = exp[-beta(U_i + ln(10) (pH - pKa_i))] / Z

then we need to determine the pKa_i artificially to give us

P_i = exp[-beta (state_penalty_i + c) ]

where c is some constant.

Is there another mechanism besides assigning pKas to i

[2016-04-23 04:18] newbooks commented on #17
How does MCCE compute protomer acceptance probabilities at a given pH?
MCCE uses Monte Carlo sampling. It determines the acceptance of a new state
by Boltzmann distribution equation and the energy difference between the
new state and the current state. The state energy includes self energy and
pairwise interactions. pH effect is part of self energy calculated
similarly as your equation.

Is there

[2016-04-23 05:13] jchodera commented on #17
state

Yes, but we need to know exactly what stationary distribution is sampled in
terms of the parameters you can assign each protomer in MCCE.  For example,
how do the pH, pKa for each tautomer, and EXTRA terms enter into either the
stationary distribution or acceptance probability?

This might be what we want to use, then.  Can you point me to the place in
the manual that describes how this ent

[2016-04-23 11:21] newbooks commented on #17
I try to summarize the procedure in a few sentences:
1. Protein is broken into residues. Each residue has a backbone and side
chain conformers which differ in charge state or side chain position.
2. Each conformer has energy G = Gbackbone_ele + Gbackbone_lj + Gtorsion +
2.3*m*kbT*(pH - pK0) + Gextra + dGrxn + Sum(Gpairwise_ele + Gpairwise_lj)
3. A microstate is a selection of one conformer from ea

[2016-04-23 12:52] jchodera commented on #17
Thanks for the detailed summary!

I presume that we can specify `Gextra` for each conformer.  If that's not correct, let me know and I can propose a different idea.

Here's what I would suggest:
* If it is easy to do so, set `m = 0` so that there is no contribution from the pH effect term `2.3*m*kbT*(pH - pK0)`.  Since the Epik state penalties change in a complex way with pH, there is simply no wa

[2016-04-23 14:37] mrgunner commented on #17
I was at my family yesterday but the proposed treatment will work. Turn off internal energies and put the epic energy into extra. (And set nH to 0). We can only do the calc at one ph.

Not now but in the future it oils be interesting to see epic calc as a f(ph). But afterwards.

M

[2016-04-23 15:04] jchodera commented on #17
This is easy to automate, so it should be no problem if we can get the proposed workflow going.  But for right now, we just need to see what happens at pH 7.4.

[2016-04-24 02:08] SalahBioPhysics commented on #17
I'm looking into the DB8.tpl.pH-7 [file](https://github.com/choderalab/mcce-charges/blob/master/kinases/abl-bosutinib/DB8.tpl.pH-7)  that was created with tpl_maker_am1bcc.py.  Is it possible to add the output files for standalone epik? specifically the -epik.mol2 file and (if possible) the epik-charged.mol2

[2016-04-24 02:12] SalahBioPhysics commented on #17
Can I use the output from [bosutinib](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Bosutinib)?

[2016-04-24 15:47] jchodera commented on #17
The bosutinib output you link is the equivalent output with updated settings for Epik.  If you want to try to convert that directly, that is what you would use.  That particular output doesn't correspond exactly to the older `DB8.tpl.pH-7` file because we don't feed Epik the same settings, though.

If you let me know more about what you're having trouble with or would like to do, I might be able t

[2016-04-24 15:50] jchodera commented on #17
Actually, it looks like that directory doesn't have `-epik-charges.mol2` files because we haven't modified the script that generates these `mol2` files to correctly assign charges to the Epik-enumerated protomers.  We already made the change to the corresponding script in [`his-test-peptides`](https://github.com/choderalab/mcce-charges/blob/master/his-test-peptides/run-epik.py), so let me make the

[2016-04-24 17:00] jchodera commented on #17
@SalahBioPhysics : I've now updated the kinase inhibitors for you, adding the charged protomers and state penalty text files in https://github.com/choderalab/mcce-charges/pull/18.

See the updated [bosutinib](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Bosutinib) directory, with these files in particular:
* [`Bosutinib-epik-charged.mol2`](https://github.com/choder

[2016-04-24 17:00] jchodera commented on #17
@bas-rustenburg : You should be able to use these input files for the constant-pH simulations too.

[2016-04-24 18:34] SalahBioPhysics commented on #17
Thanks, yes that's what I'm doing right now, modifying the tpl_maker_am1bcc.py to use the *-epik-charges.mol2 files.

[2016-04-26 18:40] SalahBioPhysics commented on #17
Does epik uses a PDB file as an input? If yes, is it possible to give us a list of the PDB IDs used or upload them into here?

[2016-04-26 20:30] jchodera commented on #17
I'm not sure what you mean. Epik parameterizes just the small molecule, and the small-molecule structures were generated from canonical isomeric SMILES strings.  There were no PDBs involved here.

We could generate PDB files of the small molecules if this would be helpful for you.  Just let me know---it's easy for us to do this!

[2016-04-27 18:26] jchodera commented on #17
@SalahBioPhysics: Did I understand correctly that you want us to generate PDB files for the small molecules?  If so, it's easy for us to generate them. Just let me know.

[2016-04-27 23:43] SalahBioPhysics commented on #17
Yes, that would be good as we can use the connectivity section at the bottom of the pdb.

[2016-04-27 23:57] jchodera commented on #17
OK, I'll generate these.  Note that the mol2 files also have connectivity information you can use!

[2016-04-27 23:59] jchodera commented on #17
Just to clarify: Do you want the PDB files to contain just *one* protomer, or *all* protomers (as a multi-`MODEL` PDB file)?

[2016-04-28 00:04] SalahBioPhysics commented on #17
One protomer.  I'm modifying Denise tpl_maker.py program to read both .mol2 file and pdb.  I could make it only read .mol2 files, but then I have to reinvent the wheel for the connectivity part as Denise program already does the connectivity but for an pdb input.

[2016-04-28 00:21] jchodera commented on #17
Don't you need to know the connectivity for every protomer?  When the protons move around, they end up bonded to different atoms, so the bonds change with protomer.

I think I used the `openeye.oechem` library in that modified `tpl_maker.py` script in the repo.  That can read multi-molecule `mol2` files and you can easily iterate over bonds:
https://docs.eyesopen.com/toolkits/python/oechemtk/atomb

[2016-04-28 00:37] SalahBioPhysics commented on #17
Yes, we can use babel to convert .mol2 files to pdb with the connectivity of each protomer.  Thus, if you think this would be the same as your pdb, then I'll just do that.

[2016-04-28 00:39] jchodera commented on #17
Do you not have the OpenEye OEChem toolkit available?  You don't need to use Babel if so---you can just grab the bonds from the `OEMol` object inside the script.

I've almost finished generating all the PDB files, so I'll add them via a PR.  There is just one protomer/ligand for the PDB files, like you requested.

[2016-04-28 00:43] SalahBioPhysics commented on #17
Ok thanks, no we don't have OpenEye OEChem toolkit.  At that note, maybe you can make an account for our group on your cluster, if possible.

[2016-04-28 01:08] jchodera commented on #17
I've added the PDB files you requested.  See, for example, [`Bosutinib-epik-charged.pdb`](https://github.com/choderalab/mcce-charges/blob/master/epik_inhibitors/output/Bosutinib/Bosutinib-epik-charged.pdb).

I'd definitely look into getting up to speed with the OpenEye OEChem toolkit.  Marilyn goes to OpenEye CUP all the time, so I assume you must have a license.

Re cluster accounts: We can certa

[2016-04-28 01:19] SalahBioPhysics commented on #17
cluster account: No, we did plan to, but never did.

[2016-04-28 01:46] jchodera commented on #17
I've just requested the accounts.

Do you have what you need with the PDB files now?

[2016-04-28 01:48] SalahBioPhysics commented on #17
Yes, thanks a lot.

[2016-04-30 18:52] mrgunner commented on #14
John et al
We are starting with ABL kinase (3UE4) with Bosutinib (DB8).
Questions:
	what is the biological unit (For Abl there are files with 1, 2  and 4 chains).
	do you have a handy list of all kinases with the inhibitors of interest bound and if possible a file for the same protein without the inhibitor?

BTW The grant process is moving in our grant office.  Do you want any text from me?

m

[2016-04-30 19:00] jchodera commented on #14
Great!  @steven-albanese is currently working on pulling together a collection of kinase:inhibitor structures and cleaning them up by building in loops, protons, etc. You can monitor his efforts [here](https://github.com/juliebehr/goodiebag/pull/10).

If you'd rather start with a cleaned-up version of Abl:imatinib, you can [use this PDB file](https://raw.githubusercontent.com/choderalab/yank/maste

[2016-04-30 19:18] mrgunner commented on #14
John
The EPIC atom names for the inhibitor are different from those in the PDB file.  We can do a translation - but I’m wondering if it’s easy for you create a mapping of the epic  atom names to the pdb names.  If not we can do it.
M

[2016-04-30 19:21] jchodera commented on #14
Whoops, hadn't thought of that problem. Can you do the translation for Abl:imatinib for testing now, and we will work out a way to automate this to make them the same over the next few days?

[2016-04-30 19:33] mrgunner commented on #14
10^6 small things.  we can do it.  Right now we will move from pdb to epic  But I think I’d rather have the pdb names the ones we are using for ease of reporting results.

[2016-04-30 21:03] jchodera commented on #14
OK. The PDB heavy atom names for small molecules are standardized through
the Chemical Components Dictionary. We can regenerate the Epik-generated
files using those.

What about proton names?  Do you need those to match from protomer to
protomer?

[2016-04-30 21:21] mrgunner commented on #14
cool.  I am realizing PYmol and VMD are happier to superimpose proteins but are not happy to do our inhibitors.

As long as the heavy atoms names are the same MCCE will be fine.

For protons - if they can be the same in all conformers that would certainly make life simpler for analysis- so we know the vdw clash is due to the proton on a particular atom in several files.  but the computer won’t car

[2016-04-30 21:26] jchodera commented on #14
Right---that's difficult.

OK, we can do this.  I hope to have the updated Epik output ready for you later today.  You can go back to the original PDB files (3UE4 or 2HYY) for Abl:imatinib at that point, and @steven-albanese will hopefully have the other kinase:inhibitor pairs early this week.

[2016-04-30 21:35] mrgunner commented on #14
We are doing Bosutinib by hand so we can run through this today.  Salah and Divya working on it.  We should have preliminary data on this abl structure by monday.

[2016-04-30 22:30] mrgunner commented on #14
What to expect from Bosutinib.  (I looked at the this figure for most of the pdb files that bind DB*.  The surroundings are sketched by RCSB  be similar. So probably not much - as the protonatble site is surrounded by non-polar groups.
I’m a bit surprised that the NH proton (to the left) is lost - but I’m sure EPIK is smarter than me.

[2016-04-30 23:00] jchodera commented on #14
You're asking what you should expect for bosutinib?  I'll compare the Epik predictions with another prediction (from `chemicalize.org`) and experimental data.

The [Epik state penalties for bostuinib](https://github.com/choderalab/mcce-charges/blob/master/epik_inhibitors/output/Bosutinib/Bosutinib-state-penalties.out) say that the dominant protonation state in solution at pH 7.4 is the protonated

[2016-05-01 04:14] jchodera commented on #14
I've now updated all the PDB and mol2 output files to use the same consistent PDB heavy-atom naming scheme. Let me know if you have any trouble with these.

[2016-05-02 19:43] SalahBioPhysics commented on #14
It seems that you changed the PDB heavy-atom naming only for Bosunitib, can we have for all inhibitors (if not, can you do it for Imatinib) .  Also, Erlotinib is missing Erlotinib-epik.mol2.

[2016-05-02 20:25] jchodera commented on #14
I am pretty sure all of them changed in the [massive PR](https://github.com/choderalab/mcce-charges/pull/20/files).  Are you sure you did a `git pull` that updated all of your files?  231 files changed in that PR, and spot-checking suggests the heavy atoms are updated for everything.

Here is the new [`Imatinib-epik-charged.pdb`](https://github.com/jchodera/mcce-charges/blob/fd1fb880169b9f7b921c90

[2016-05-02 20:28] jchodera commented on #14
I'll check in the missing `Erlotinib-epik.mol2`, but you don't want to use that file since the charges are not correct. Please use [`Erlotinib-epik-charged.mol2`](https://github.com/choderalab/mcce-charges/blob/master/epik_inhibitors/output/Erlotinib/Erlotinib-epik-charged.mol2).

[2016-05-02 20:30] jchodera commented on #14
I've just checked in the missing files.

[2016-05-02 20:49] SalahBioPhysics commented on #14
Ok yes, everything is fine with the heavy atom names.

[2016-05-02 20:59] jchodera commented on #14
Great!  Let us know if you need anything else besides some PDB files for kinase:inhibitor complexes.

[2016-05-02 21:25] mrgunner commented on #14
John
We are moving on 2 pdb files - 2HYY (with imantinib) and 2Ue4 (with bosutinib).

For matched pairs for prelim results:
It would be good to have a list of pdb files where you think the inhibitor titratable part is buried.
Also it would be good if we can get matched pairs of pdb files: one with the ligand bound and one crystalized in the apo form.

thanks
marilyn

[2016-05-02 21:27] jchodera commented on #14
@steven-albanese almost has a bunch of kinase:inhibitor pairs of FDA-approved inhibitors with their target PDBs ready.

We'll look at these and prioritize them for you.

For the apo PDBs: How about we simply remove the inhibitor from the same PDB file for the time being?  There may be other interesting behavior with protonation states in response to structural relaxation, but the most important ef

[2016-05-02 21:31] mrgunner commented on #14
Yes that is what we are doing.  But if you guys are making lists we should think about this list.  For example i think the DFG motif protonation change is more due to the conformational change than for the ligand binding.  Don’t worry we will do what we can first.

[2016-05-04 13:44] jchodera commented on #14
@steven-albanese should be able to check in the kilase:inhibitor PDB files he generated into this repo today.

I will look through the list to try to come up with priorities:
* inhibitors predicted by Epik to have nearly degenerate enegies at pH 7.4, since they populate a mixture of protonation States in solution
* inhibitors where titratible sites are buried in the complex, or otherwise near chag

[2016-05-04 16:54] mrgunner commented on #14
if the end of the inhibitor where there protonation/tautomer states are changing are inside the proteins we are most likely to get hits.
my quick look at bosutinib had the charged end mostly out of the protein so it’s not doing much.
(also i’d be interested in apo crystal structures for comparison-it may be the ∆structure on binding that leads to ∆protonation pattern)
clearly we will need a good s

[2016-05-04 23:31] jchodera commented on #14
changing are inside the proteins we are most likely to get hits.

Ponatinib:Abl has the piperazine ring pointing the other way from
bosutinib, so that's definitely one to look at. I will look through the
other structures @steven-albanese checked in to identify good candidates.

be the ∆structure on binding that leads to ∆protonation pattern)

Good idea. We should be able to automate retrieval and

[2016-05-07 18:22] jchodera opened #23 "Prioritizing kinase:inhibitor complexes"
I've finally had a chance to start looking through kinase:inhibitor complexes that @steven-albanese deposited [here](https://github.com/choderalab/mcce-charges/tree/master/pdbs).

The criteria I am using to prioritize these files are:
1. Anything where the inhibitors populate a mixture of protonation states in solution
2. Anything where the titratable inhibitor groups are buried or near charged/ti

[2016-05-07 18:29] jchodera commented on #23
Looking at `Alectinib-ALK`, the morpholine ring of Alectinib is titratable on the nitrogen, and this is somewhat water-exposed by equidistant between GLU and ARG residues.
![alectinib-alk](https://cloud.githubusercontent.com/assets/3656088/15093804/1bc1676e-1460-11e6-8273-643073b09a3b.png)

[2016-05-07 18:37] jchodera commented on #23
In `Axitinib-VEGFR1`, a titratable proton in the indazole ring appears to be hydrogen bonding to the carbonyl oxygen of GLU102.
![axitinib-vegfr1](https://cloud.githubusercontent.com/assets/3656088/15093845/2334a988-1461-11e6-8266-5f82299f2677.png)

[2016-05-07 18:44] jchodera commented on #23
In `Crizotinib-4ANQ`, there is a titratable proton on the piperidine ring that is next to GLU105, but in solution, the penalty for putting the proton there is about 5 kT.
![crizotinib-4anq](https://cloud.githubusercontent.com/assets/3656088/15093884/35407c82-1462-11e6-8f3b-e3f9b983eb7c.png)

[2016-05-07 18:52] jchodera commented on #23
`Dabrafenib-BRAF` has the titratable proton of the sulfonamide linker group sterically clashing with the nitrogen of ASP146, which should wipe out the protonated population.
![dabrafenib-4xv2](https://cloud.githubusercontent.com/assets/3656088/15093927/51088b5c-1463-11e6-893f-f40832194a2c.png)

[2016-05-07 18:58] jchodera commented on #23
`Dasatinib-BCR-ABL` doesn't have much going on except for two ASP residues in the vicinity of the two titratable nitrogens.
![dasatinib-2gqg](https://cloud.githubusercontent.com/assets/3656088/15093943/169e93a2-1464-11e6-9312-e042960d3ff4.png)

[2016-05-07 19:01] jchodera commented on #23
`Regorafenib-VEGFR1` has two titratable protons on the purine group with a GLU, ASP, LYS, and a backbone carbonyl all very close.
![regorafenib-2qu5](https://cloud.githubusercontent.com/assets/3656088/15093964/93b0737e-1464-11e6-8de8-80a25b853059.png)

[2016-05-07 19:02] jchodera commented on #23
There appears to be some problem with retrieving files from the PDB right now, so I don't think I can generate the Ponatinib structures at the moment.  Hopefully, this is enough to go on for now, though!

[2016-05-08 17:32] jchodera commented on #23
I've just added the `Ponatinib` structures too.  Check this out: There's a GLU, an ASP, and a HIS in the binding site pretty close to the titratable piperazine ring. Here's an image from `3OXZ`:
![ponatinib-3oxz](https://cloud.githubusercontent.com/assets/3656088/15099358/465c0512-1521-11e6-94b4-08d6b4fab9fb.png)

[2016-05-10 03:59] DivyaMatta15 opened #25 "abl-imatinib and abl-bosunitib: kinase-inhibitor complexes"
We are working on these kinase-inhibitor complexes.I was looking at the pdb of abl-imatinib(2hyy), I observed that there are four imatinib cofactors (chains A, B, C, D) associated with the protein abl. Do I have to consider all of these four imatinib altogether to determine the change in the protonation state of residues?
 Please let me know as I am not sure whether to remove(or not) three imatini

[2016-05-10 04:06] DivyaMatta15 commented on #25
Also, the close view of asp381(in green), his361(in orange) and imatinib in red interacting in the complex.

![image](https://cloud.githubusercontent.com/assets/18331321/15135324/f6cd5f1e-1642-11e6-8feb-44be3ba61d19.png)

[2016-05-10 13:13] jchodera commented on #25
Is there a reason you can't use the PDB structures @steven-albanese prepared for you in the [`pdb/` directory](https://github.com/choderalab/mcce-charges/tree/master/pdbs) of this repo?  He has already selected out a single protein:ligand pair from those crystal structures for you, and prepared them to add missing atoms.  See the `fixed` structures which have missing heavy atoms added.

Also, can

[2016-05-10 15:56] SalahBioPhysics commented on #25
Yes, we will start looking into [these ](https://github.com/choderalab/mcce-charges/issues/23) today.  I ran bable to generate multi-models pdb's for the inhibitors, but it crashed for most of the inhibitors, and due to our near due date, can I ask for the multi-models pdb's of the inhibitors from your end?

[2016-05-10 16:01] jchodera commented on #25
I don't understand what you mean by "multi-model PDBs".  Can you elaborate on exactly what you need?

@mrgunner maybe you have more insight too?

[2016-05-10 16:25] SalahBioPhysics commented on #25
Epik output .mol2 files has different conformers per inhibitor, for instants, Cobimetinib has 3, one with +1 charge and two neutral.  Therefore, if I want to create a pdb format file for that inhibitor, I should get a pdb with 3 models (multi-model PDB).  Thus, what I need is pdb format files for the inhibitors (if it takes long time, we can start with Alectinib)

[2016-05-10 17:27] jchodera commented on #25
I'm happy to generate these for you. When I asked earlier, [you said I should generate PDB files with only one protomer](https://github.com/choderalab/mcce-charges/issues/17#issuecomment-215268888), so that's what I did.  I will convert all protomers.

[2016-05-10 20:06] mrgunner commented on #25
Salah  had a way to do it, but it didn’t work for them all (something crashed).  as we are under time pressure it seemed reasonable to see how easy it is to get these from you.

[2016-05-10 20:25] jchodera commented on #25
Done and merged:

https://github.com/choderalab/mcce-charges/pull/26

[2016-05-10 21:11] SalahBioPhysics commented on #25
The -epik-charged.pdb output files are missing the CONECT section.  [This](https://github.com/SalahBioPhysics/files/blob/master/Cobimetinib.pdb) is an example of a Cobimetinib inhibitor in pdb format with CONECT section.

[2016-05-10 22:17] jchodera commented on #25
Thanks for catching this! Will see if I can fix ASAP.

[2016-05-15 15:43] jchodera commented on #23
Any luck here? I think @bas-rustenburg is just about ready to start running constant-pH MD simulations.

[2016-05-15 17:37] mrgunner commented on #23
We should have some results tomorrow.

[2016-05-19 19:32] jchodera commented on #23
Just checking in on this!

[2016-05-19 19:32] jchodera commented on #25
Apologies for dropping the ball on this. Looking into fixing `CONECT` sections now.

[2016-05-19 19:42] jchodera commented on #25
I think I've figured out how to get the `CONECT` records in. Regenerating data now...

[2016-05-19 22:50] SalahBioPhysics commented on #25
If this is going to take up time from you, that's fine, we can do it manually.

[2016-05-20 12:45] jchodera commented on #25
The oechem toolkit is supposed to be able to add CONECT records, but it doesn't seem to be working for me. Still debugging why.

[2016-05-26 23:08] jchodera commented on #25
I wasn't able to fix the `CONECT` record issue. I don't know what the problem is, but I am filing a bug report.

[2016-05-26 23:08] jchodera commented on #23
Any chance you were able to generate anything useful even without the `CONECT` record problem being solved?

[2016-05-27 18:19] SalahBioPhysics commented on #23
Yes, the CONNECT section was useful only so we can animate the work.  But that's fine we are able to carry on the work.

[2016-06-01 17:29] SalahBioPhysics opened #38 "Epik output"
In [Erlotinib](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Erlotinib), the Erlotinib-epik-charged.mol2 doesn't match with Erlotinib-epik.mol2.  The later has two tautomers, but Erlotinib-epik-charged.mol2 has only one, its also missing the H53 charge.

[2016-06-01 17:34] SalahBioPhysics commented on #38
In [Vemurafenib](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Vemurafenib), the Vemurafenib-epik-charged.mol2 doesn't match with Vemurafenib-epik.mol2. The later has four tautomers, but Vemurafenib-epik-charged.mol2 has two tautomers.

[2016-06-01 17:55] SalahBioPhysics commented on #38
In [Palbociclib](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Palbociclib), the Palbociclib-epik-charged.mol2 doesn't match with Palbociclib-epik.mol2. The later has four tautomers, but Palbociclib-epik-charged.mol2 has two tautomers.

[2016-06-01 18:25] SalahBioPhysics commented on #38
In [Ruxolitinib](https://github.com/choderalab/mcce-charges/blob/master/epik_inhibitors/output/Ruxolitinib/Ruxolitinib-epik.mol2), the Ruxolitinib-epik-charged.mol2 doesn't match with Ruxolitinib-epik.mol2. The later has two tautomers, but Ruxolitinib-epik-charged.mol2 has one tautomers.

[2016-06-01 18:28] jchodera commented on #38
Thanks for pointing these out!

The reason for this is that some of the protomers/tautomers fail at the charging step. Often, this is because the proposed protomers/tautomers are so unphysical that the Omega/AM1-BCC charging scheme can't deal with them, and it is fine that this happens. In other cases, this is a serious issue that we have to find some way to address.

The next step would be to fig

[2016-06-01 18:31] SalahBioPhysics commented on #38
Ok sounds good.  We will go with -epik-charged.mol2.

Thanks :)

[2016-06-02 19:55] SalahBioPhysics opened #39 "list of things we could do to make automation easier"
1. a script to download all the pdb needed to PDBs.  Cody could help with this

[2016-06-02 22:12] jchodera commented on #39
What precisely do you need here? We have all the kinase PDB files in [this directory](https://github.com/choderalab/mcce-charges/tree/master/pdbs).

[2016-06-29 15:01] jchodera commented on #39
@steven-albanese is still working on this as part of a new tool called [PDBFinder](https://github.com/choderalab/PDBfinder), but is stuck on some details. We hope to have this soon!

[2016-06-29 15:01] #38 closed

[2016-06-29 15:02] jchodera opened #42 "His-peptides"
In our discussion with @mrgunner, she indicated she would like to continue to explore the (His)_n peptides.

Can you take a look at the files in [this directory](https://github.com/choderalab/mcce-charges/tree/master/his-test-peptides/output) and see if you need me to generate anything else here?

[2016-06-29 15:03] jchodera commented on #14
Closing this for now; reopen if needed.

[2016-06-29 15:03] #14 closed

[2016-06-29 15:03] jchodera commented on #17
Closing this now; reopen if needed.

[2016-06-29 15:03] #17 closed

[2016-06-29 15:04] jchodera commented on #9
This is now fixed.

[2016-06-29 15:04] #9 closed

[2016-06-29 16:56] bas-rustenburg commented on #42
@jchodera It was also suggested running Epik at more than one pH so we can investigate whether the energies it outputs make sense.

[2016-06-29 17:27] jchodera commented on #42
Got it!  I can do that.

[2016-06-29 17:30] jchodera commented on #42
Was this just for His peptides or imatinib as well?

[2016-06-29 17:57] jchodera commented on #42
OK, I now have a pH sweep for HIS and HIS-HIS in [this directory](https://github.com/choderalab/mcce-charges/tree/master/his-test-peptides/output).

[2016-10-06 14:25] bas-rustenburg opened #47 "Messy pdb structure"
I'm currently debugging my attempted constant-pH simulations, many of which crashed for unknown reasons. I've found out however that at least one of them might be the result of a bad pdb structure.

![](https://i.sli.mg/hxPmYc.png)

This structure seems to have a messed up segment approximately between residue numbers 186-201:
https://github.com/choderalab/mcce-charges/blob/master/pdbs/Crizotinib-

[2016-10-06 14:52] bas-rustenburg commented on #47
After some discussion, this is most likely the result of `pdbfixer` modeling in a missing loop.

[2016-10-06 15:44] bas-rustenburg commented on #47
Afatinib EGFR, 4G5P_fixed_ph7.4.pdb has a weird loop as well.

[2016-10-06 15:47] bas-rustenburg commented on #47
There is even a leucine with the wrong protonation state,,,
![weird_leucine](https://cloud.githubusercontent.com/assets/3977731/19159473/a8a99b8e-8bba-11e6-95fc-5b6b0dd164e2.png)

[2016-10-06 19:02] mrgunner commented on #47
Will it run with something that is simple? eg BPTI (very small) or Lysozyme (the standard pk benchmark protein) (these are also good in that we know the pKas.

[2016-10-06 19:05] jchodera commented on #47
Are there missing loops in BPTI or lysozyme crystal structures? I think these are small stable proteins where the residues are generally well-resolved.

[2016-10-06 19:16] mrgunner commented on #47
There are about 1700 structures.  The pK calc have often started with 4LZT.  I think it’s complete.  129 residues

Just for fun you can look at the 2nd page of this excel sheet where we pulled out structures crystalized at different pKas or salt.

[2016-10-07 18:00] steven-albanese commented on #47
@bas-rustenburg: I've checked in renumbered PDBs that were all created from the same fixer.topology and fixer.positions objects (i.e., there shouldn't be any more differences from loops being built in differently between `apo`, `apo-nowater` and `fixed` structures). There's definitely still an issue with loops being built in poorly, so I'm looking at PyRosetta so see if that might be useful to bui

[2016-10-18 19:46] bas-rustenburg commented on #47
I've tried simulating 4LZT using the constph code, as @mrgunner suggested. I ran it for 60 ns and encountered no issues. That makes me more confident about the constant-pH code. Our issues are probably related to the starting structures.

Discussed with @jchodera and @gregoryross today. We're going to try `ensembler loopmodel` on the kinase structures since `pdbfixer` ended up producing problemati

[2016-10-18 19:51] mrgunner commented on #47
that’s great.  We can give you the experimental pka’s for this if you want (salah - ask divya for them)

[2016-11-23 18:01] SalahBioPhysics opened #48 "Proteins to relax"
@bas-rustenburg try with this protein first [Cobimetinib-4AN2](https://github.com/choderalab/mcce-charges/tree/master/pdbs/Cobimetinib-MEK).  Thanks

[2016-11-23 19:27] bas-rustenburg commented on #48
I'm unfortunately not familiar with how these are currently prepared. Tagging @gregoryross  and @steven-albanese. They'll add the loop modeling and minimization steps to Steve's pipeline to provide better structures. I think they're both currently out, but should be back in on Monday to help tackle this.

We'll make sure to prioritize this particular structure.

[2016-11-28 21:52] SalahBioPhysics opened #50 "Binding Energy Analysis"
This is one @[example](https://github.com/choderalab/mcce-charges/tree/master/testing/Cobimetinib/4AN2_together) of how we'll get the ΔΔG
![image](https://cloud.githubusercontent.com/assets/8505813/20687446/741c4714-b58a-11e6-87a5-94fcd6ecd53c.png)
![image](https://cloud.githubusercontent.com/assets/8505813/20687466/893b0888-b58a-11e6-940a-9129f1aa8a37.png)

Soon I'll write a conclusion for how a

[2016-11-28 22:00] jchodera commented on #50
Awesome!

Some questions:
* Is the protonation state EUI01A1382 the dominant state in solution?
* Are you fixing the protein protonation states as well, or just the ligand here?

[2016-11-28 22:35] SalahBioPhysics commented on #50
Is the protonation state EUI01A1382 the dominant state in solution? No, in solution the dominant state is EUI+1A1382, and in protein the dominant state is EUI01A1382.  (The yellow box in the sheet)

Are you fixing the protein protonation states as well, or just the ligand here? Just the ligand

[2016-11-28 22:37] jchodera commented on #50
Awesome!

Can we see what happens when the protein protonation state is fixed or variable too?

[2016-11-28 22:58] SalahBioPhysics commented on #50
Yes I believe we can.  But it may take some time to know what residues to fix.  The example above is done by a quick mcce run.

[2016-11-29 19:38] gregoryross commented on #48
Hi @SalahBioPhysics, I'm now working on this problem full time for the next couple of days.

The 'fixed' protein structure in the example you've linked to is, by eye, completely wrong, and won't be fixed with energy minimization. As I'm sure you're aware, protonation state results for any of the residues within this constructed loop are totally untrustworthy. I think an overhaul of the protein pre

[2016-11-29 19:47] SalahBioPhysics commented on #48
Do you simply overlay the ligand over the cleaned protein structure, or do you perform a type of minimization of the ligand position? No we don't do any type of minimization of the ligand position, we simply run MCCE calculation based on the structure you give us.

Are all of these included in the MCCE calculations? We remove all of the non-inhibitor ligands (manganese ion, SO4, ...) from the stru

[2016-11-29 19:54] gregoryross commented on #48
Okay, thanks. So just to clarify, do you take the 'fixed' protein PDB structures from `mcce-charges/pdbs/` and the ligand PDB structures from `mcce-charges/epik_inhibitors/output/`?

[2016-11-29 19:55] SalahBioPhysics commented on #48
Yes.  Thanks a lot.

[2016-11-29 20:40] gregoryross commented on #48
@SalahBioPhysics, I'm having a close look at the Cobimetinib structures, and the cofactors (ATP and ions) are an important part of the protein-inhibitor complex, such that, even with fixed loops, we shouldn't run MCCE on these structures without considering ATP and the ion. Can these be included in the MCCE calculations? If not, do you have another inhibitor-protein structure (that's cofactor free

[2016-11-29 21:21] SalahBioPhysics commented on #48
Since we have about a week to submit the grant, I don't think we'll have time to add more ligands to the calculation.  However, we can do it for the paper.

For now, we can only look at protein-inhibitor complex that doesn't have extra ligands.  Crizotinib/2YFX_fixed_ph7.4.pdb would do.  I will give you a list of PDB soon.

[2016-11-29 21:57] SalahBioPhysics commented on #48
Here is a list of the inhibitors that have/don't have extra ligands.
Afatinib
Alectinib: has EDO
Axitinib
Bosutinib
Ceritinib: has GOL
Cobimetinib: has ACP and MG
Crizotinib
Dabrafenib
Dasatinib
Gefitinib
Idelalisib
Imatinib: has 3YY
Lapatinib: has PO4
Lenvatinib: has DTT, EDO, GOL, SO4
Nilotinib
Osimertinib
Palbociclib: has DMS
Pazopanib: has SO4
Ponatinib: has EDO
Regorafenib
Sorafenib: has ACT

[2016-11-29 22:10] gregoryross commented on #48
Great, thanks a lot. That's very helpful. I'll get the relaxed structures to you as soon as I can.

I'm still a little confused as to where you get the inhibitor structures from for the MCCE calculations. Although the inhibitor structures in `mcce-charges/epik_inhibitors/output/` are fully protonated (which is what I need) they do not overlap with the binding modes of the ligands in `mcce-charges/

[2016-11-29 22:44] gregoryross commented on #48
Just a quick update: it looks like the inhibitor structures are taken from _one_ of the PDB files, but that location doesn't align with the others.

[2016-11-29 22:46] SalahBioPhysics commented on #48
I will look into the first question regarding the inhibitors PDB.

I'm not sure what you mean by "location doesn't align"

[2016-11-29 22:51] bas-rustenburg commented on #48
@gregoryross, @SalahBioPhysics

If I understand correctly, the ligand coordinates in the MCCE calculations are taken from `mcce-charges/epik_inhibitors/output/`, not from the protein PDB file that contained the ligand.

I took a quick look at the script that generates those ligand files. It takes them from the `CHEMID` column in [this file](https://github.com/choderalab/mcce-charges/blob/master/ep

[2016-11-29 22:59] gregoryross commented on #48
Thanks @bas-rustenburg, that's what looks like to me. Does that seem reasonable @SalahBioPhysics?

If that is indeed the case, I'm happy to completely overhaul the preparation pipeline to ensure that 1) the loops are reasonable, and 2) each inhibitor is in the correct location and has the right binding mode for the corresponding protein structure.

[2016-11-29 23:01] SalahBioPhysics commented on #48
Yes @gregoryross.  That would be great, thanks a lot.

[2016-11-29 23:06] gregoryross commented on #48
No problem @SalahBioPhysics.

[2016-11-30 16:41] gregoryross commented on #48
Hi @SalahBioPhysics, could you tell me exactly what files you need to run a protein-ligand MCCE simulation? For instance, if you were to run an ABL-imatinib simulation using the 2HYY PDB structure, which files from the `mcce-charges` repo would you use (assuming the structures are correct)? Thanks!

[2016-11-30 19:18] SalahBioPhysics commented on #48
Sorry for the late respond.

1. [2HYY_fixed_ph7.4.pdb](https://github.com/choderalab/mcce-charges/tree/master/pdbs/Imatinib-BCR-ABL)
2. [2HYY_fixed_ph7.4_apo_nowater.pdb](https://github.com/choderalab/mcce-charges/tree/master/pdbs/Imatinib-BCR-ABL)
3. [Imatinib-input.pdb](https://github.com/choderalab/mcce-charges/tree/master/epik_inhibitors/output/Imatinib)
4. [Imatinib-epik.mol2](https://github.

[2016-11-30 20:12] gregoryross commented on #48
Great, thanks.

And just to double check: the `Imatinib-input.pdb`, `Imatinib-epik.mol2`, and
`Imatinib-epik-charged.mol2` structures should be in the correct binding mode with respect to `2HYY_fixed_ph7.4.pdb`, right?

Also, are you aware that the `XXXX_fixed_ph7.4.pdb` files contain water molecules? I'm guessing all water molecules should be removed? The  XXXX_fixed_ph7.4.pdb` files also contain

[2016-11-30 20:23] SalahBioPhysics commented on #48
Imatinib-input.pdb, Imatinib-epik.mol2, and Imatinib-epik-charged.mol2 structures should be in the correct binding mode with respect to 2HYY_fixed_ph7.4.pdb, right? I honestly don't know.

are you aware that the XXXX_fixed_ph7.4.pdb files contain water molecules? Yes, we will remove them

The XXXX_fixed_ph7.4.pdb files also contain a the depronated inhibitor inside the binding site as well, is tha

[2016-12-01 23:14] SalahBioPhysics commented on #50
[BindingCurves.xlsx](https://github.com/choderalab/mcce-charges/files/625972/BindingCurves.xlsx)

![image](https://cloud.githubusercontent.com/assets/8505813/20816644/6151d9c8-b7f1-11e6-96eb-470318735b4f.png)

This is quick mcce calculations for inhibitors that change charge upon binding.

[2016-12-02 01:00] SalahBioPhysics commented on #48
@gregoryross if you have any structures ready, please feel free to push them.  I have data based on fast quick calculation.  Would be nice to test against the new structures.  However, no pressure :)

[2016-12-02 01:05] jchodera commented on #48
@steven-albanese : Didn't you just push a batch of structures?

[2016-12-02 01:06] jchodera commented on #48
Are those over [here](https://github.com/choderalab/PDBfinder/tree/master/pdbs)? Are they ready to go?

[2016-12-02 01:06] mrgunner commented on #48
Just to clarify.  We do not need additional charge files for the inhibitors.  The problem is local.  The inhibitors have van der Waals clashes with specific amino acids.  If you want Salah can tell specifically which ones are clashing.  This REALY destabilizes binding.  Right now we have turned off the vdw to measure the binding energy.  With the runs we are doing with limited conformer sampling t

[2016-12-02 01:11] jchodera commented on #48
We're on it! @steven-albanese has engineered a new pipeline to build looks and relax the structures with the ligand present using Schrodinger tools. I think that's nearly ready.

[2016-12-02 15:32] gregoryross commented on #48
Hi @SalahBioPhysics and @mrgunner, @steven-albanese has produced new structures using Schrodinger's pipeline. They can be found in this repo:

[PDBFinder](https://github.com/choderalab/PDBfinder/tree/master/pdbs)

These structures  (found in the `pdbs` folder and called 'XXXX-fixed.pdb`) are _far_ cleaner than what we previously had. However, Steven and I have had a close look at a many of these a

[2016-12-02 15:39] gregoryross commented on #48
@mrgunner, as you can see from the above discussion, we're unsure what structure you need for the inhibitors. Do your MCCE calculations require a PDB structure of the inhibitor to be fully protonated (or have multiple charge states) and be located in the protein binding site? I ask because it seems as though---and I certainly may be wrong here---that the inhibitor structures you used in the previo

[2016-12-02 22:36] gregoryross commented on #48
@SalahBioPhysics and @mrgunner the structures from the latest rounds of refinement are located [here](https://github.com/choderalab/PDBfinder/tree/master/pdbs). As documented in this [notebook](https://github.com/choderalab/PDBfinder/blob/master/refinement_tools/OpenMM_Refinement.ipynb), the structures have been selected with various criteria, and minimized with openmm. Many structures failed the

[2016-12-02 22:41] SalahBioPhysics commented on #48
Great, thanks @bas-rustenburg.  I'll run mcce and update you.

[2016-12-02 22:44] gregoryross commented on #48
@SalahBioPhysics, it was @steven-albanese and I!

[2016-12-02 22:53] SalahBioPhysics commented on #48
yes, I meant to tag you. Thanks to both :)

[2016-12-05 19:39] bas-rustenburg opened #51 "Keeping track of input positions"
I'm not certain what the current state of the problem with ligand position in calculations is, but I wanted to point out a potential risk in the current version of  `epik_inhibitors.py`.

This line:
https://github.com/choderalab/mcce-charges/blob/efb67919ebde10c95f30171beea4754da828dc9c/epik_inhibitors/epik_inhibitors.py#L160
gets rid of input coordinates. We may need to switch to a low-level mole

[2016-12-21 18:44] gregoryross commented on #48
Hi @SalahBioPhysics, I've finished my final round of refinement of the kinase structures. Many of the structures that failed the initial round of refinement with openmm required manually fixing and have run successfully this time. I've also minimized all structures in explicit solvent, as opposed to vacuum in the original set. The latest structures are located in https://github.com/choderalab/PDBf

[2016-12-21 19:17] SalahBioPhysics commented on #48
@gregoryross awesome, thanks a lot.  It will be a while before I start working on this again, but i'll keep you posted :)

[2016-12-27 16:38] gregoryross commented on #48
Great, thanks.

I'll now close this issue.

[2016-12-27 16:38] #48 closed

[2016-12-27 16:39] jchodera commented on #48
Quick question: Does this batch include structures of apo kinases (without ligands) as well? Or just the kinase:inhibitor complexes?

[2016-12-27 16:53] gregoryross commented on #48
The structures in `pdbs/*/explicit_water_minimization/` are kinase-inhibitors complexes in explicit water, with all non-protein atoms listed as `HETATMS`. The data set contains no true *apo* structures, so pseudo *apo* structures have to be made by removing the ligands.

[2016-12-27 16:57] jchodera commented on #48
OK! One other aspect to look at in the future is whether the pseudo-apo structures behave in the same way as true apo structures (if they exist). I'll create a separate issue!

[2016-12-27 16:58] jchodera opened #52 "Compile some true apo structures for comparison to pseudo-apo structures"
It would be useful to compile some true apo kinase structures (without ligand, or with nucleotide or nucleotide analog) for comparison to the pseudo-apo structures created by removing the inhibitor.

If that isn't possible, we can simply compare variability of MCCE predictions for the same pseudo-apo kinase across different structures.

[2016-12-27 17:01] gregoryross commented on #48
Sounds good!

[2017-01-31 19:20] SalahBioPhysics opened #53 "vdw clashes"
@gregoryross  Here is a list of vdw clashes that are above 10 kCal/mol of 4G5J (Afatinib)

[4G5J_vdw_clashes.xlsx](https://github.com/choderalab/mcce-charges/files/742930/4G5J_vdw_clashes.xlsx)

For the ligand if the protons do not have charges they can be removed.  I need to check that.

[2017-02-01 02:32] SalahBioPhysics commented on #53
@gregoryross do you have the vdw radii and potentials you used for the structure relaxation?

[2017-02-01 15:30] mrgunner commented on #53
can be make the time to
	think about how to deal with vdw
	play with the phi map
thanks
m

[2017-02-01 18:53] gregoryross commented on #53
Hi @SalahBioPhysics,

Thanks for the file. I'm currently looking at the `4G5J-minimized.pdb` structure in `PDBfinder/pdbs/Afatinib-EGFR/explicit_water_minimized`, but I can't match the residue numbers to the PDB. The residues in that PDB go from 1 to 322, but the file `4G5J_vdw_clashes.xlsx` lists residue numbers in from 700+. Do you know how the numbering matches up?

As you listed the atoms name

[2017-02-01 18:54] gregoryross commented on #53
(Sorry, I didn't mean to close this issue!)

[2017-02-01 19:22] jchodera commented on #53
It might be important to make sure the pdbfixer and/or maestro-based preparation pipelines you guys have preserve the residue numberings. Or was that lost on the MCCE2 side?

[2017-02-01 20:01] gregoryross commented on #53
That's a good point @jchodera. It seems that the latest structures (prepared with Maestro) have re-numbered the residues. That's something we can easily fix.

After a quick look, it seems that you may be looking at one of the older structures that did have vdW clashes. As I stated [here](https://github.com/choderalab/mcce-charges/issues/48#issuecomment-268606142), the cleanest structures we've pro

[2017-02-01 23:22] SalahBioPhysics commented on #53
I completely missed this, I used the /fixed/ folder, I will fix it and start using pdbs/*/explicit_water_minimization/ folder.  Thanks @gregoryross

[2017-02-02 03:25] SalahBioPhysics commented on #53
@gregoryross I ran few proteins from pdbs/*/explicit_water_minimization/ folder and didn't have any vdw clashes.  Thanks again @gregoryross 👍

[2017-02-02 17:48] #53 closed

[2017-02-06 15:28] gregoryross commented on #53
You're very welcome @SalahBioPhysics!

[2017-02-21 15:02] jchodera opened #57 "Update Excel spreadsheet?"
@SalahBioPhysics : Can you try updating the latest XLSX file in the repo?

https://github.com/SalahBioPhysics/mcce-charges/blob/6cbde192ea0f457e504a4016eb57b3b3d36194ed/mcce_runs/Data_Feb_2017/mcce_extensive_sampling_Feb2017.xlsx

For some reason, the version that was checked in seems to have been corrupted.

[2017-02-21 18:38] SalahBioPhysics commented on #57
Thanks for letting me know, I just merged a new update (https://github.com/choderalab/mcce-charges/tree/master/mcce_runs/Data_Feb_2017)
And just an fyi, I started to read more literature on kinase and soon I'll start writing the paper.

[2017-08-02 20:24] SalahBioPhysics opened #59 "large vdw"
@gregoryross @bas-rustenburg I want to put you in the loop of what we are looking at right now.
Here (https://github.com/choderalab/PDBfinder/blob/master/kinase-pdbs/Imatinib-BCR-ABL/explicit_water_minimized/3PYY-minimized.pdb) you'll find the input PDB structure for Imatinib.  We found the following vdw clashes:

  | Conf ID | Electrostatic | VDW
-- | -- | -- | --
STI+1B0001_001
807 | TYR01A0023_

[2019-04-28 23:19] fedaaali opened #62 "rxn in tpl"
I am trying to create tpl for ions such as Zr, Cd, how could I calculate the rxn entry in the tpl ?
I tried the method written here but it doesn't give me correct values when I tried to remake tpl for existing ions  ?

[2019-05-03 13:40] mrgunner commented on #62
Can you tell us what numbers you are getting and what you expect
or shoot us back a tpl file.

[2019-05-09 11:43] fedaaali commented on #62
for example, the rxn that I am getting for the Zn ion is -56.875  and I am expecting it to be -91.248 as in the original one.

[2019-05-09 13:26] mrgunner commented on #62
The things that effect this are
Ion radius
Charge
Inner dielectric constant (are you using 8 or 4?). Also if you are using 4 you need a param04 directory for the tpl files. If you use 8 it lols for param08

[2019-05-09 21:01] fedaaali commented on #62
thx Dr Gunner  for your reply and clear explanation, now I am getting the correct rxn value for the Zn.

[2019-05-09 21:21] fedaaali commented on #62
the radius that is written in the tpl isn't the VDW radius?

[2019-05-09 21:28] mrgunner commented on #62
It’s the radius for the delphi making of protein (inside dielectric constant) and outside (e=80)

for salvation energy if you turn the salt off the reaction field energy can be computers analytically

∆Gsolv = q^2/(2r) [1/ein -1/eout\   https://en.wikipedia.org/wiki/Born_equation

the vdw radii are in always_needed.tpl and they are used for the molec mechanic calc of explicit atoms touching each o

[2019-05-10 18:38] fedaaali commented on #62
Thanks a lot for your precious help. I'm really grateful.

[2019-05-10 19:38] mrgunner commented on #62
Good luck. Let us know if you get something good out of it.

[2019-05-20 00:30] fedaaali commented on #62
Dear Dr Gunner, I am facing problem regarding calculating the pka and I can't even understand what is it !!
I and my supervisor are calculating the pka for the same files, but I am getting totally different results!!
we are using the same tpls and pdbs! I tried many times and I can't figure out what is the problem!
could you help me figuring out what might be the problem !

[2019-05-20 01:40] mrgunner commented on #62
I think we need to talk.  Are you in John’s lab?
Can you zip up the directory?

[2019-05-20 07:58] fedaaali commented on #62
Dear Dr Gunner,
Thanks for your reply, I am studying in Egypt.
yea for sure, I will upload it today

Thanks a lot

[2019-05-20 08:17] fedaaali commented on #62
[mcce2.5.tar.zip](https://github.com/choderalab/mcce-charges/files/3196875/mcce2.5.tar.zip)

[2019-05-20 18:01] fedaaali commented on #62
Dear Dr.
[Mn.zip](https://github.com/choderalab/mcce-charges/files/3199171/Mn.zip)
 Gunner,
here is the version I am using and one the files that I am trying to calculate ( aqua manganese )

[mcce2.5.zip](https://github.com/choderalab/mcce-charges/files/3199165/mcce2.5.zip)

[2019-05-20 18:02] fedaaali commented on #62
Gunner,
here is the version I am using and one the files that I am trying to calculate ( aqua manganese )

[Mn.zip](https://github.com/choderalab/mcce-charges/files/3199174/Mn.zip)
[mcce2.5.zip](https://github.com/choderalab/mcce-charges/files/3199176/mcce2.5.zip)

[2019-05-21 08:34] fedaaali commented on #62
Dear Dr.Gunner,
here is the version that I am using and one of  the files that I am trying to calculate the pka for ( aqua manganese )
[mcce2.5.zip](https://github.com/choderalab/mcce-charges/files/3201518/mcce2.5.zip)

[Mn.zip](https://github.com/choderalab/mcce-charges/files/3201520/Mn.zip)

[2019-05-22 22:40] mrgunner commented on #62
To help you more I would like to know your name and what lab you are working in.
Also please let me know what system you are working on and what it is the question.
These will help answer your questions in a more efficient way.
Marilyn

[2019-05-25 15:36] fedaaali commented on #62
sorry for being late .. my name is fedaa ali and I am working in material science lab at Zewail city  in Egypt.
I am working on linux system (Ubuntu 18),
 I am getting different values for the pkas for aqua metals from that  calculated by my supervisor.
we are using same tpls and same pdbs.
so my question is could you help me to figure out the problem  ?

[2019-05-25 16:26] mrgunner commented on #62
Who is your supervisor?
What metals. Please your replies are too vague.

[2019-05-27 11:23] fedaaali commented on #62
he is Dr. Muhammad Amin Assistant Professor of Physics at University of Groningen,
I am working on different aqua metals for example...[mn(h2o)6]^2
I am trying to calculate the pkas of water molecules.  my issue is that I am getting different values from that is calculated by Dr. Muhammad
sorry for any inconvenience

[2019-05-27 11:25] mrgunner commented on #62
Thank you.  I know Dr Amin very well.
I will ask Divya to help you.  She is collaborating with Muhamed and uses the techniques developed when Muhamed was in my lab.

[2019-05-27 11:37] fedaaali commented on #62
Thank you very much

[2019-06-19 06:59] fedaaali opened #63 "error with mcce3.5"
I am getting this error,
Preparing PBE runs at epsilon 4.00 ...
   Fatal: failed creating pbe temporary folder "/scratch/pbe_delphi_QXKYyf"

[2019-06-24 15:14] newbooks commented on #63
In run.prm, you can change this line
/scratch     delphi temporary file folder, "/tmp" uses node     (PBE_FOLDER)
to
/tmp     delphi temporary file folder, "/tmp" uses node     (PBE_FOLDER)

To run pb solver under a different directory.

[2019-06-26 12:29] fedaaali commented on #63
Thanks a lot

[2019-06-26 12:29] #63 closed, assigned to nobody